.container {
	margin-left: 255px;
	margin-top: 88px;
	height: calc(100vh - 88px);
	display: flex;
}

.conversations {
	display: flex;
	justify-content: flex-start;
	margin-left: 10px;
}

.chatbox {
	width: calc(100vw - (255px + 10px + 300px));
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	height: 80px;
	background: #282828;
	border-radius: 20px;
	margin-right: 5px;
	box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
	z-index: 2;
}

.messages {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
	margin-top: 5px;
	overflow-y: auto;
	z-index: 1;
}

.input {
	display: flex;
	height: 80px;
	align-items: center;
	z-index: 2;
	box-shadow: #121212 0px -20px 30px -10px;
}

@media (max-width: 1000px) {
	.container {
		margin-left: 80px;
	}

	.chatbox {
		width: calc(100vw - (80px + 10px + 200px));
	}
}

@media (max-width: 700px) {
	.container {
		flex-direction: column;
	}

	.chatbox {
		width: calc(100vw - 80px);
	}

	.header {
		display: none;
	}

	.messages {
		max-height: calc(100vh - 260px);
	}
}