.container {
	display: flex;
	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

.message {
	display: inline-block;
	padding: 2px;
	max-width: 47%;
	word-wrap: break-word;
}

/* @media (max-width: 500px) {
	.container {
		font-size: 14px;
		background-color: cadetblue;
		width: 100%;
	}

	.message {
		margin: 0 !important;
	}
} */