.input {
	width: 200px;
	height: 48px;
	background-color: #666F80;
	border: none;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	padding-left: 5px;
}

.input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.ul {
	position: absolute;
	list-style-type: none;
	padding: 0px;
	margin-top: 10px;
	width: 330px;
	background-color: #555c6c;
	border-radius: 10px;
	z-index: 2;
}

.li {
	border-radius: 10px;
	color: white;
	font-family: poppins;
	margin-right: 50px;
	cursor: pointer;
	width: 96%;
	padding: 2px 2%;
}

.li:hover {
	background-color: #656e81;
}