html, body {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('../../assets/imageBg.png');
	background-size: cover;
	background-position: center;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 625px;
	height: 550px;
	max-width: 100%;
	max-height: 100%;
	border-radius: 32px;
	backdrop-filter: blur(25px);
}

.logo {
	display: flex;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 100%;
	box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
	margin-top: 50px;
	align-items: center;
	justify-content: center;
}

.description {
	font-family: Poppins;
	font-size: 48px;
	font-weight: 700;
	line-height: 1;
}

.select {
	width: 100px;
	height: 64px;
	border-radius: 20px;
	border: 2px solid #FB6D6C;
	background: white;
	margin-right: 10px;
	text-align: center;
	font-size: 16px;
	box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.error {
	position: absolute;
	color: rgb(255, 255, 255);
	/* top: 15px; */
	margin-top: 10px;
}

.button {
	display: flex;
	justify-content: center;
	margin-top: 78px;
}