.container {
	height: 100%;
	margin-left: 255px;
	margin-top: 88px;
	display: flex;
	flex-direction: column;
}

.users {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	align-content: flex-start;
}

.containerAnyLikes {
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.text {
	color: #666F80;
	font-family: poppins;
	font-size: 24px;
}

@media (max-width: 1000px) {
	.container {
		margin-left: 85px;
	}
}

@media (max-width: 500px) {
	.users {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
	}
}