.container {
	margin-left: 255px;
	margin-top: 88px;
	display: flex;
	flex-direction: column;
}

.choice {
	display: flex;
	justify-content: center;
	align-items: center;
	/* gap: 20px; */
	margin-bottom: 10px;
}

.users {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	border-radius: 10px;
	justify-content: center;
	align-content: flex-start;
}