.container {
	display: flex;
	flex-direction: column;
}

.label {
	color: #000000;
	font-family: 'poppins', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-right: auto;
}

.input {
	height: 5vh;
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid #666F80;
	margin-bottom: 9px;
	min-height: 25px;
}

.input::placeholder {
	font-size: 20px;
}

@media (max-width: 450px) {
	.container {
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.label {
		margin-right: 0px;
	}

	.input {
		width: 150px;
	}
}

@media (max-width: 400px) {
	.container {
		justify-content: center;
		align-items: center;
	}

	.label {
		margin-right: 0px;
	}

	.input {
		width: 200px !important;
		font-size: 16px;
	}

	.input::placeholder {
		font-size: 16px;
	}
}