.container {
	display: flex;
	flex-direction: column;
}

.label {
	color: #000000;
	font-family: 'poppins', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-right: auto;
}

.input {
	height: 5vh;
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid #666F80;
	/* margin-bottom: 15px; */
	margin-bottom: 2vh;
	min-height: 25px;
}

.input::placeholder {
	font-size: 20px;
}