.sideMenu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #282828;
	width: 250px;
	height: calc(100vh - 10px);
	margin: 5px 5px 5px 5px;
	border-radius: 30px;
	position: fixed;
	top: 0;
	left: 0;
	/* overflow-y: scroll; */
	overflow-y: auto;
}

.topMenu {
	display: flex;
	flex-direction: column;
}

.nameSite {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	font-family: Poppins;
	font-weight: 700;
	font-size: 32px;
	color: white;
}

.pink {
	color: #FB025D;
}

.logo {
	margin-left: -10px;
	width: 70px;
	height: 70px;
}

.navButtons {
	display: flex;
	flex-direction: column;
}

.endNavButtons {
	margin-bottom: 10px;
}

@media (max-width: 1000px) {
	.sideMenu {
		width: 75px;
		overflow-x: hidden;
	}

	.flirtopia {
		visibility: hidden;
	}

	.logo {
		margin-left: 135px;
		width: 70px;
		height: 70px;
	}
}