.container {
	margin-left: 255px;
	margin-top: 88px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.userInfo {
	display: flex;
	height: 70%;
}

.leftCtn {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 25px;
	margin-left: 25px;
}

.title {
	color: #FFF;
	font-family: Poppins;
	font-size: 32px;
	font-weight: 700;
	display: block;
}

.select {
	width: 120px;
	height: 56px;
	color: white;
	border-radius: 20px;
	border: none;
	background-color: #282828;
	margin-right: 10px;
	text-align: center;
	font-size: 16px;
	box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.choicePreference {
	display: flex;
	gap: 15px;
}

.textBox {
	display: flex;
	align-items: center;
	max-width: 500px;
}

.textAera {
	width: 100%;
	height: 140px;
	font-family: Poppins;
	resize: none;
}

.char {
	line-height: 0.2;
	font-family: Poppins;
	color: #C3C8D3;
	font-size: 12px;
	font-weight: 400;
}

.rightCtn {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 25px;
}

.hobbies {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.information {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.input {
	display: flex;
	justify-content: space-around;
}

.photos {
	display: flex;
	flex-direction: column;
	height: 30%;
	margin-left: 25px;
}

.choicePhoto {
	display: flex;
	height: 100%;
}

.err {
	font-family: Poppins;
	color: red;
	font-size: 15px;
	font-weight: 400;
}

.error {
	font-family: Poppins;
	color: red;
	margin-top: 10px;
}

.footerDescription {
	display: flex;
	flex-direction: column;
}

.sendButton {
	background-color: #FB025D;
	display: flex;
	position: relative;
	top: -62px;
	left: 5px;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
}

.sendButton:hover {
	opacity: 0.85;
}

.msgDescription {
	color: white;
	font-family: Poppins;
	line-height: 0;
	position: relative;
	top: -20px;
}

.msgInput {
	color: white;
	font-family: Poppins;
}