.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #121212;
	padding: 20px;
	width: calc(100% - 295px);
	height: 48px;
	margin-left: 255px;
	position: fixed;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	top: 0;
	left: 0;
	z-index: 10;
}

.section {
	color: #FFF;
	font-family: Poppins;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.user {
	display: flex;
	align-items: center;
	color: #FFF;
}

.notification {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 45px;
	border-radius: 25px;
	background-color: #666F80;
	margin-right: 20px;
	cursor: pointer;
}

.notification:hover {
	background-color: #FB025D;
}

.notificationList {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 200px;
	background-color: #282828;
	position: relative;
	top: 140px;
	left: 100px;
	border-radius: 20px;
	overflow-y: scroll;
}

.logoBell {
	width: 30px;
	height: 30px;
}

.numberNotif {
	position: absolute;
	top: 25px;
	left: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: 25px;
	background-color:#FB025D;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 50000px;
}

.infoUser {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-family: Poppins;
	font-size: 24px;
	font-weight: 700;
}

.logoUser {
	width: 45px;
	height: 45px;
	margin-right: 10px;
	border-radius: 50%;
}

@media (max-width: 1000px) {
	.header {
		margin-left: 80px;
		width: calc(100% - 120px);
	}
}