.container {
	display: flex;
	flex-direction: column;
	margin-left: 260px;
	margin-top: 88px;
	height: 100%;
	width: calc(100% - 260px);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.select {
	width: 150px;
	height: 50px;
	font-family: poppins;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	background-color: #666F80;
	margin-right: 10px;
	text-align: center;
	font-size: 16px;
}

.filterMapnotClicked {
	display: flex;
	gap: 10px;
}

.filter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #666F80;
	cursor: pointer;
}

.filter:hover {
	background-color: #FB025D;
}

.iconMap {
	width: 30px;
	height: 30px;
}

.boxFilters {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #4F4F4F;
	top: 150px;
	left: 350px;
	width: 1000px;
	border-radius: 20px;
	z-index: 2;
}

.boxTitle {
	height: 10%;
	color: #FFF;
	font-family: Poppins;
	font-size: 32px;
	font-weight: 600;
}

.title {
	margin-left: 20px;
}

.allFilters {
	display: flex;
	height: 80%;
}

.filterA {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 20px;
	margin-top: 20px;
}

.slider {
	display: flex;
	flex-direction: column;
	max-width: 250px;
	margin-bottom: 30px;
}

.label {
	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 800;
}

.pink {
	color: #FB025D;
}

.ageFilter {
	display: flex;
	gap: 10px;
}

.errFilter {
	font-family: poppins;
	color: #FB025D;
	font-size: 16px;
}

.filterB {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.hobbiesTitle {
	color: #FFF;
	font-family: Poppins;
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 15px;
}

.hobbies {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.buttonSubmit {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 10%;
}

.buttonFilters {
	margin-right: 20px;
	border: none;
	width: 150px;
	height: 48px;
	border-radius: 20px;
	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
}

.users {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	align-content: flex-start;
	border-radius: 25px;
	opacity: 0.5;
	z-index: 1;
	gap: 15px;
}

.containerLoader {
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.textLoader {
	color: #666F80;
	font-family: poppins;
	font-size: 24px;

}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #FFF;
	border-bottom-color: #FB025D;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.ctnLoader {
	display: flex;
	justify-content: center;
}

.textEnd {
	color: #666F80;
	font-family: poppins;
	font-size: 16px;
}

@media (max-width: 1400px) {
	.boxFilters {
		width: 500px;
	}

	.allFilters {
		flex-direction: column;
	}

	.filterB {
		width: calc(100% - 20px);
	}

	.hobbiesTitle {
		margin-left: 20px;
	}

	.hobbies {
		margin-left: 20px;
		width: 100%;
	}

	.buttonSubmit {
		margin-top: 20px;
		padding-bottom: 10px;
		padding-left: 10px;
		justify-content: flex-start;
	}
}


@media (max-width: 1000px) {
	.container {
		margin-left: 85px;
		width: calc(100% - 90px);
	}

	.boxFilters {
		left: 100px;
		width: 300px;
	}

	.filterA {
		width: calc(100% - 20px);
	}

	.ageFilter {
		flex-direction: column;
	}
}
