.container {
	display: flex;
	flex-direction: column;
	margin-left: 260px;
	margin-top: 88px;
	height: 100%;
	width: calc(100% - 260px);

}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: red; */
}

.filter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #666F80;
	cursor: pointer;
}

.filter:hover {
	background-color: #FB025D;
}

.boxFilters {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #4F4F4F;
	top: 140px;
	left: 350px;
	width: 1000px;
	height: 600px;
	border-radius: 20px;
	z-index: 2;
}

.boxTitle {
	height: 10%;
	color: #FFF;
	font-family: Poppins;
	font-size: 32px;
	font-weight: 600;
}

.title {
	margin-left: 20px;
}

.allFilters {
	display: flex;
	/* background-color:aliceblue; */
	height: 80%;
}

.filterA {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	width: 50%;
	/* background-color: aqua; */
	margin-left: 20px;
	margin-top: 20px;
}

.slider {
	display: flex;
	flex-direction: column;
	max-width: 250px;
	margin-bottom: 30px;
}

.label {
	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 800;
}

.pink {
	color: #FB025D;
}

.ageFilter {
	display: flex;
	gap: 10px;
}

.filterB {
	width: 50%;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	/* background-color: #FB025D; */
}

.hobbiesTitle {
	color: #FFF;
	font-family: Poppins;
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 15px;
}

.hobbies {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.buttonSubmit {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 10%;
}

.buttonFilters {
	margin-right: 20px;
	border: none;
	width: 150px;
	height: 48px;
	border-radius: 20px;
	background-color: #FB025D;
	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.users {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	align-content: flex-start;
	border-radius: 25px;
	opacity: 0.5;
	z-index: 1;
	gap: 15px;
}